.ltble thead tr th{
font-size: 7px !important;
text-align: center;
min-width: 40px!important;
}
.ltble thead tr th.emptycel::after,.ltble thead tr th.emptycel::after {
    content: ""!important;
    float: right!important; 
    color: white!important;
}
#listionicons{
list-style-type: none;
float: left;
height: 2800px;
background-color: #FFF;
border: 1px solid #eaeaea;
padding: 5px 20px;
width: 100%;

}
#listionicons li{
	float: left;
	font-size: 20px;
	padding: 0 10px;
	margin: 5px;
	border: 1px solid transparent;
	width: 35px;
text-align: center;
}
#listionicons li:hover{  
	cursor: pointer;
	color: #757575;
	border: 1px solid silver;

}