/* COMMENTS ------------------------------------------------------------*/

#comments-wrap a{
	text-decoration: none;
}

.comment {
  border-bottom: 1px #ccc solid;
  margin: 0 0 18px;
  padding: 0px;
}

.commentlist .odd{
	
}

.commentlist .even{
	
}

.v-card{ color: #ccc;}

.comment .avatar {
	float: left;
	margin: 2px 15px 0 0;
	height: 60px;
	width: 60px;
}

.respond-title-wrap,
.comment-title-wrap {
	border-bottom: 1px solid #484848;
	padding: 0 0 15px 0;
	margin: 0 0 30px 0;
}

#respond-title,
#comments,
.add-comment-link {
	font-size: 15px;
	color: #2c2d31;
	font-weight: bold;
}

.respond-caption { font-size: 11px; }

.add-comment-link a {
	font-size: 12px;
	padding: 0 15px 0 0;
}

.commentlist {
	margin: 0 0 30px 0;
	list-style-type: none;
	font-size: 13px;
}

.comment-body{
	position: relative;
	margin-bottom: 20px;
}

.commentlist ul li { padding: 0 0 0px 0; }


.commentlist ul li:first-child .comment-border {
	 border-bottom: 1px #ccc solid;
	margin: 18px 0 0 0;
 	height: 18px;
	width: 430px;
}

/* CHILDREN ------------------------------------------------------------*/

.children .comment {  
	border-bottom: none;
	border-top: 1px #ccc solid;
}

.children { list-style-type: none; }


.children .comment .avatar {
	height: 35px;
	width: 35px;
}

.comment p:last-child { margin: 0; }

.comment-author cite a {
	padding: 0 15px 0 0;
	color: #2C2D31;
}



.comment .children li{ background: url(../img/reply.png) no-repeat 10px 40px;  }

.comment .children .comment-body { 
	margin: 20px 0 0 50px;
}

.nocomments {
	text-align: center;
	padding: 20px;
}

.comment-body ul { list-style-type: disc; }

.comment-body ol { list-style-type: decimal; }

/* REPLY ------------------------------------------------------------*/

.reply {
	position: absolute;
	right: 0;
	top: -5px;
}

.comment-reply-link { 
	display: block;
	color: #444;
	font-size: 11px;
	background: #eaeaea;
	padding: 3px 10px;
	
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.3); 
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,.3); 
	-o-box-shadow: 0px 0px 2px rgba(0,0,0,.3);
	box-shadow: 0px 0px 2px rgba(0,0,0,.3);
	
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 -o-transition: all 0.3s ease;
	 transition: all 0.3s ease;
}



.comment-reply-link:hover{
	background: #fe8300;
	color: #fff;
}

.comment-reply-link-wrap {
	position: absolute;
	right: 0;
	top: -18px;
}

/* META ------------------------------------------------------------*/

.comment-meta { 
	margin: 0 0 12px 50px; 
	color: #a4a5aa;
	font-size: 11px;
	position: relative;
}

.children .comment-meta { margin-left: 40px; }



.comment-author cite {
	font-weight: bold;
	font-style: normal;
	color: #2C2D31;
	margin: 0;
	padding: 0;
}

/* COMMENTS PAGINATION ------------------------------------------------------------*/

.comments-pagination {
	clear:both;
	overflow: hidden;
	padding:20px 0;
	position:relative;
	font-size:11px;
	line-height:13px;
	margin-bottom: 10px;
}
 
.comments-pagination span,
.comments-pagination a {
	display:block;
	float:left;
	margin: 2px 2px 2px 0;
	padding:6px 9px 5px 9px;
	text-decoration:none;
	width:auto;
	color:#fff;
	background: #555;
}
 
.comments-pagination a:hover{
	color:#fff;
	background: #000000;
}
 
.comments-pagination .current{
	padding:6px 9px 5px 9px;
	background: #000000;
	color:#fff;
}

/* FORMS ------------------------------------------------------------*/

#commentform,
#contactForm{
	margin-bottom: 18px;
	color: #484848;
}


#commentform h4,
#contactForm h4{
	margin-top: 20px;
	margin-bottom: 20px;
}

#contactForm input,
#contactForm textarea,
#commentform input,
#commentform textarea{
	padding: 10px 15px;
	background: #eaeaea;
	color: #484848;
	border: 1px  solid #ccc;
	font-size: 13px;
	font-family: Helvetica, Arial;
	line-height: 1.5em;
	
	overflow: auto;
}

#contactForm input:focus,
#contactForm textarea:focus,
#commentform input:focus,
#commentform textarea:focus{
	background: #fff;
	-webkit-box-shadow: 0px 0px 3px rgba(254,131,1,.4);
	-moz-box-shadow: 0px 0px 3px rgba(254,131,1,.4);
	-o-box-shadow: 0px 0px 3px rgba(254,131,1,.4);
	box-shadow: 0px 0px 3px rgba(254,131,1,.4);
}

#contactForm input[type="text"],
#commentform input[type="text"]{
	overflow: auto;
	width: 200px;
	margin-bottom: 20px;
	
	overflow: hidden;
}

#contactForm  textarea,
#commentform textarea{
	width: 90%;
	height: 230px;
}


#contactForm input[type="submit"],
#commentform input[type="submit"],
#contactForm input[type="button"]{
	margin: 21px 0px;

	width: auto;
	color: #444;
	font-size: 11px;
	background: #eaeaea;
	padding: 3px 10px;
	border: 1px solid #ccc;
	
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.3); 
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,.3); 
	-o-box-shadow: 0px 0px 2px rgba(0,0,0,.3);
	box-shadow: 0px 0px 2px rgba(0,0,0,.3);
	
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 -o-transition: all 0.3s ease;
	 transition: all 0.3s ease;
	 
	 cursor: pointer;
}

#contactForm input[type="submit"]:hover,
#commentform input[type="submit"]:hover,
#contactForm input[type="button"]:hover{
	background: #fe8300;
	color: #fff;
}

#contactForm label,
#commentform label{
	padding-left: 7px;
	color: #484848;
}


#respond{ 
	margin: 25px 0 0px 0px;
}

#respond .cancel-comment-reply a{
	float: right;
	color: #444;
	text-decoration: none;
	background: #eaeaea;
	padding: 3px 10px;
	border: 1px solid #ccc;
	
	
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,.3); 
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,.3); 
	-o-box-shadow: 0px 0px 2px rgba(0,0,0,.3);
	box-shadow: 0px 0px 2px rgba(0,0,0,.3);
	
	 -webkit-transition: all 0.3s ease;
	 -moz-transition: all 0.3s ease;
	 -o-transition: all 0.3s ease;
	 transition: all 0.3s ease;
}

#respond .cancel-comment-reply a:hover{
	background: #fe8300;
	color: #fff	
}

#error{
	margin-left: 10px;
}


#sent-form-msg{
	padding: 5px 10px;
	margin-bottom: 40px;
	background: rgba(0, 0, 0, 0.1);
	color: #444;
}

/* Comments *****************************************************/
.listComments{
	box-sizing: border-box;
	margin: 5% 0%;
	color: #18171b;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	font-size: 14px;
	line-height: 21px;
	padding: 2%;
	background: rgba(255, 255, 255, 0.45);
	border: 1px solid;
	border-color: rgba(229, 230, 233, 0.58) rgba(223, 224, 228, 0.45) rgba(208, 209, 213, 0.43);
	float: left;
	width: 100%;
}
.listComments .Comments{
	box-sizing: border-box;
	margin: 1% 0%;
	color: #18171b;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	font-size: 14px;
	line-height: 21px;
	padding: 2%;
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	float: left;
	width: 100%;	
}
.listComments .Comments div.imgComment{ 
	float: left;
	width: 20%;
	height: 90px;
	margin: 0% 3% 0% 0%;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}
.listComments .Comments div.infoComment{
	border-bottom: 1px solid #eaeaea;
	float: left;
	width: 70%;
	padding: 1% 0%;
	margin: 1% 0%;
}
.listComments .Comments div.infoComment .userComment{
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
	width: 60%;
	float: left;
}
.listComments .Comments div.infoComment .dateComment{
font-size: 8px;
float: right;
color: silver;
font-weight: normal;
}
.listComments .Comments div.contentComment{
float: left;
width: 75%;
font-size: 12px;
font-weight: normal;
}
.listComments .Comments div.optionComment{
	border: 1px solid rgb(223, 224, 228);
	float: left;
	width: 100%;
	margin: 1%;
	padding: 1%;
	background-color: rgb(248, 248, 248);
	font-size: 10px;
}
.listComments .Comments div.optionComment .btnComment{
	float: left;
	width: 100%;
}
.listComments .Comments div.optionComment .btnComment a {
	float: left;
	padding: 1px;
	margin-right: 2px;
	text-align: center;
	font-size: 10px;
	width: 20%;
	cursor: pointer;
}
.listComments .Comments div.optionComment .btnComment .likesComment{ 

}
.listComments .Comments div.optionComment .btnComment a.sousComment{
overflow: hidden;
text-overflow: ellipsis;
vertical-align: top;
white-space: nowrap;
width: 50%;
}
.listComments .Comments div.optionComment .btnComment a.deleteComment{

}
.listComments .Comments div.optionComment .alllikesComment{ 
	border-top: 1px solid #eaeaea;
	float: left;
	width: 100%;
	padding: 2px 0 0 1px;
	font-size: 9px;
	font-weight: normal;
}

/* Sous-Comments *****************************************************/

.listComments .Comments div#listsousComment{
	box-sizing: border-box;
	margin: 1% 1% 0% 10%;
	color: #18171b;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	font-size: 14px;
	line-height: 21px;
	padding: 2%;
	background: #fff;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	float: left;
	width: 90%;	
}
.listComments .Comments div#listsousComment div.imgComment{ 
	float: left;
	width: 10%;
	height: 35px;
	margin: 0% 3% 0% 0%;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
}
.listComments .Comments div#listsousComment div.infoComment{
border-bottom: 1px solid #eaeaea;
float: left;
width: 85%;
padding: 1% 0%;
margin: 1% 0%;
}
.listComments .Comments div#listsousComment div.infoComment .userComment{
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap;
	width: 60%;
	float: left;
}
.listComments .Comments div#listsousComment div.infoComment .dateComment{
font-size: 8px;
float: right;
color: silver;
font-weight: normal;
}
.listComments .Comments div#listsousComment div.contentComment{
float: left;
width: 95%;
font-size: 12px;
padding: 1%;
}
.listComments .Comments div#listsousComment div.optionComment{
border: 1px solid rgb(223, 224, 228);
float: left;
width: 100%;
margin: 1%;
padding: 1%;
background-color: rgb(248, 248, 248);
font-size: 10px;
min-height: 30px;
}
.listComments .Comments div#listsousComment div.optionComment .btnComment{
	float: left;
	width: 100%;
}
.listComments .Comments div#listsousComment div.optionComment .btnComment a {
	float: left;
	padding: 1px;
	margin-right: 2px;
	text-align: center; 
	width: 25%;
	cursor: pointer;
}
.listComments .Comments div#listsousComment div.optionComment .btnComment .likesComment{ 

}
.listComments .Comments div#listsousComment div.optionComment .btnComment a.deleteComment{

}
.listComments .Comments div#listsousComment div.optionComment .alllikesComment{ 
	border-top: 1px solid #eaeaea;
	float: left;
	width: 100%;
	padding: 2px 0 0 1px;
	font-size: 9px;
	font-weight: normal;
}
/* Comment panel  ****************************************************************************/

form#panelcomment{
	
}
form#panelcomment div.infoUserComment{
	float: left;
width: 100%;
background: #fff;
border: 1px solid;
border-color: #e5e6e9 #dfe0e4 #d0d1d5;
-webkit-border-radius: 3px;
}
form#panelcomment div.infoUserComment div.paramcomm{
float: left;
width: 100%;
border-top: 1px solid #e6e6e6;
background-color: #f6f7f8;
border-top-color: #e9eaed;
}
form#panelcomment div.infoUserComment div.paramcomm button#sendComm{
border: 1px solid;
color: #fff;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
background-color: #4EA25C;
border-color: #438B62 #3C885D #338358;
float: right;
}
form#panelcomment div.infoUserComment div.UserimgComment{
border: 1px solid;
float: left;
min-width: 10%;
min-height: 50px;
max-width: 10%;
max-height: 50px;
background-size: 100% 50px;
background-repeat: no-repeat;
margin: 1%;
background-position: center;
border: 1px solid;
border-color: #e5e6e9 #dfe0e4 #d0d1d5;
-webkit-border-radius: 3px;
box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.27);
}
form#panelcomment div.infoUserComment textarea.col{
max-width: 87%;
min-width: 87%;
float: left;
}
.cssSouCmm{
	display: none;
}
.listAllLikeUser{
	border: 1px solid silver;
	float: left;
	background-color: white;
	z-index: 999;
	position: fixed;
	top: 100px;
	left: 25%;
	display: none;
}
.listAllLikeUser i {
	float: right;
border: 1px solid red;
color: white;
background-color: rgb(242, 29, 29);
width: 20px;
height: 20px;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: bolder;
cursor: pointer;
}
.listAllLikeUser .cont-listU{
 float: left;
max-width: 300px;
min-width: 300px;
}
.listAllLikeUser .cont-listU .elm{
float: left;
min-width: 100%;
max-width: 100%;
padding: 1% 0% 0% 5%;
border-bottom: 1px solid #eaeaea;
}
.listAllLikeUser .cont-listU img{ 
	min-width: 50px;
	max-width: 50px;
	min-height: 50px;
	max-height: 50px;
	border: 1px solid silver;
	padding: 1px;
	float: left;
}
.listAllLikeUser .cont-listU a{
float: left;
min-width: 150px;
max-width: 150px;
padding: 5px;
font-size: 15px;
} 
.listAllLikeUser .cont-listU abbr{
float: left;
min-width: 150px;
max-width: 150px;
font-size: 7px;
color: silver;
font-weight: normal;
padding: 0px 30px;
}