/* profil */
#main .profil{
  float: left;
  width: 38%;
  margin: -3% 1%;
}
#main .profil .infobtn{
  border: 1px solid #FFFFFF;
  float: left;
  width: 100%;
  background-color: white;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  padding: 1% 5%;
  font-size: 13px;
  color: #757575;
}
#main .profil .infobtn a{
  color: #E7E7E7;
  border: 0px solid;
  padding: 2px;
  width: 8%;
  text-align: center;
  margin: 1% 0%;
  font-size: 20px;
}
#main .profil .infobtn a:hover{
  color: #757575;
}
#main .profil .blokinfo{
border: 1px solid #FFFFFF;
  float: left;
  width: 100%;
  background-color: white;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  padding: 1% 5%;
  font-size: 13px;
  color: #757575;
  margin: 1% 0%;
  border-top: 5px solid #333333;
} 
#main .profil .blokinfo .title{
	font-size: 15px;
  color: #DDDDDD;
  font-weight: bold;
} 
#main .profil .blokinfo .cont{
  padding: 3% 5%;
  border-top: 1px solid #eaeaea;
  margin-top: 2%;
  font-size: 11px;
} 
#main .profil .blokinfo .contANALYSE{
padding: 0%;
  margin-top: 2%;
  font-size: 20px;
  float: right;
  color: #DDDDDD;
} 
#main .profil .blokinfo .cont .ion{
	font-size: 20px;
  color: #DDDCDC;
  padding-right: 5%;
} 
#main .profil .blokrss{
  border: 1px solid #FFFFFF;
  float: left;
  width: 100%;
  background-color: white;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  padding: 1% 5%;
  margin: 1% 0%;
}
#main .profil .blokrss a{
  border: 0px solid;
  margin: -1% 0%;
  margin-left: 8%;
  font-size: 12px;
  color: #D0D0D0;
  font-weight: bold;
  padding: 2% 3%;
  border-left: 1px solid rgba(117, 117, 117, 0.15);
  float: left;
  height: 30px;
  text-shadow: 5px 2px rgba(253, 253, 253, 1);
  opacity: 0.5;
}
#main .profil .blokrss a:first-child {
border-left: 0px solid;
  padding-left: 1%;
}
#main .profil .blokrss a .ion{
	color: #8E8E8E;
  font-size: 20px;
}
#main .profil .blokrss a:hover{
	opacity: 1;
}
#main .profil .pic{
  background-color: white;
  padding: 1%;
  float: left;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
/*  content */
#main .prop{
float: left;
  width: 60%;
  background-color: white;
  padding: 2% 0% 0% 2%;
  margin: -1% 0% 0% 0%;
  border: 1px solid;
  border-color: #1C1D1D #dfe0e4 #d0d1d5;
  font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
  border-top: 10px solid;
  border-radius: 0px;
}
#main .prop .name{
  font-weight: bold;
  font-size: 20px;
  margin: -4% 0% 0% -4%;
  float: left;
  width: 100%;
  padding: 0% 3%;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 0;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
}
#main .prop .signe{
  float: right;
  font-size: 10px;
  min-width: 40px;
  max-width: 60px;
  background-color: #dc0d17;
  background-image: -webkit-gradient(linear, center top, center bottom, from(#fa3c45), to(#dc0d17));
  color: #fff;
  min-height: 13px;
  padding: 2px 4px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
  -webkit-background-clip: padding-box;
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: normal;
  border-bottom: 1px solid rgba(0, 0, 0, .16);
  -webkit-border-radius: 2px 2px 3px 3px;
}
#main .prop .content{
  border: 0px;
  border-top: 2px solid #eaeaea;
  margin: 1% -3%;
  float: left;
  width: 100%;
}
#main .prop .ion{
  font-size: 15px;
  color: #DFDFDF;
}
#main .prop a{
  font-size: 10px;
}
#main .content{
  float: left;
  width: 60%;
  background-color: white;
  padding: 2%;
  margin: 1% 0%; 
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  -webkit-border-radius: 3px;
  font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
}
#main .content .statut{
	  float: left;
    margin: 2% 0%;
    width: 100%;
}
#main .content .statut .ion{
font-size: 30px;
  float: left;
  padding: 2% 2% 0% 2%;
  color: #757575;
}
#main .content .statut .txt{
	  font-size: 12px;
  padding: 2%;
  border: 2px dashed #eaeaea;
}
#main .content .statut .time{
	  float: right;
  border: 1px solid;
  font-size: 10px;
  padding: 0% 1%;
  background-color: #757575;
  color: white;
}
#main .content .article .time{
  float: right; 
  font-size: 10px;
  padding: 0% 1%;
  background-color: #757575;
  color: white;
}
#main .content .article{
  border: 1px solid #eaeaea;
  float: left;
  width: 100%;
  margin: 2% 0%;
  padding: 0%;
}
#main .content .article .ion{
  font-size: 30px;
  float: left;
  padding: 0% 2% 0% 2%;
  color: #757575;
}
#main .content .article .img{
	  float: left;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
#main .content .article .title{
  float: left; 
  width: 80%;
  margin: 0%;
} 
#main .content .article .option,#main .content .statut .option{
  float: left;
  width: 100%;
  margin: 0%;
  background-color: #757575;
}
#main .content .article .option a,#main .content .statut .option a{ 
  color: white;
  float: left;
  min-width: 15%;
  font-size: 10px;
  padding: 1% 2%; 
  margin: 0% 1px;
} 
#main .content .article .option a .ion,#main .content .statut .option a .ion{
font-size: 15px;
  padding-right: 10px; 
  	color: white;
} 
#main .content .article .option a:hover .ion,#main .content .statut .option a:hover .ion{ 
  color: #757575; 
} 
#main .content .article .option a:hover,#main .content .statut .option a:hover{ 
  color: #757575;
  float: left;
  min-width: 15%;
  font-size: 10px;
  padding: 1% 2%; 
  margin: 0% 1px;
  background-color: white;
} 
#main .content .more{
	float: left;
  border: 1px solid #757575;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #757575;
}
#main .content .more:hover{ 
  border: 1px solid white; 
  color: #757575;
  background-color: white;
  cursor: pointer;
} 

form { 
}
form .logoform{
  float: left;
  width: 10%;
  text-align: center;
  font-size: 20px;
  color: silver;
  padding: 3% 2%;
}
form .col{
  padding: 5px;
  border: 1px solid #eaeaea;
  float: left;
  margin: 0.5%;
} 
form .stetarea{
    resize: none;
  height: 200px;
  width: 80%;
} 
form hr{
  border: 1px solid rgba(239, 239, 239, 0.62);
  float: left;
  width: 100%;
  margin: 3% 0%;
}
form .col1{
  width: 100%;
  float: left;
  margin-left: 0px;
}
form .col1-{
  width: 69%;
  float: left;
}
form .col2{
  width: 49%; 
  float: left;
}
form .col3{
  width: 32%;
  float: left;
}
form .col4{
  width: 24%;
  float: left;
}

.formUpPicProfil{

  background-color: white;
  padding: 1%;
  float: left;
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
} 
.formUpPicProfil #picProfil{
min-width: 100px;
max-width: 100px;

}

/*****  add ****/
#userPanel{
padding: 2%;
background-color: rgba(192, 192, 192, 0.11);
border-width: 1px 1px 2px;
border-style: solid solid dashed;
border-color: #EAEAEA;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
float: left;
width: 108%;
margin: -4% 2% 0% -4%;
}
#userPanel ul.tabs{
border: 1px solid rgba(207, 207, 207, 0.64);
float: left;
width: 80%;
padding: 2% 0% 0% 2%;
background-color: #EAEAEA;
}
#userPanel ul.tabs li{
margin: -2% 1% 0% -1% !important;
padding: 0% !important;
border: 0px solid;
outline: none;
background: none repeat scroll 0% 0% transparent!important;
text-shadow: 0 1px 0 #fff;
}
#userPanel ul.tabs li:hover{
background: none repeat scroll 0% 0% transparent!important;
color: #757575;
}
#userPanel ul.tabs li a:hover{
background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.05)!important;
color: #757575;
border-bottom: 1px solid #CCC;
border-left: 1px solid rgba(197, 197, 197, 0.28);
border-right: 1px solid rgba(117, 117, 117, 0.14);
margin-top: -3px;
padding-bottom: 32px;

}
#userPanel ul.tabs li a{
background: none repeat scroll 0% 0% transparent!important;

}
#userPanel ul.tabs li a.current{
border: 1px solid silver;
border-bottom: 0px solid !important;
box-shadow: 0px -4px 11px -3px rgba(82, 82, 82, 0.51);
background-color: #FFF !important;
}
#userPanel ul.tabs li a.current:hover{
background-color: #FFF !important;
border: 1px solid silver!important;
margin-top: 0px!important;
padding-bottom: 0px!important;
border-bottom: 0px solid !important;
}
#userPanel ul.tabs li a span i{ 
  font-size: 15px;
transition-duration: 1s;
} 
#userPanel div.panes{
  
}
#userPanel div.panes div.tbbs{
  float: left;
width: 100%;
}
#userPanel div.panes input.share_cont{
border-width: 0px 0px 2px;
border-style: solid;
border-color: #C0C0C0 #C0C0C0 rgba(207, 207, 207, 0.64);
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
background-color: #26B9FE;
color: white;
float: right;
width: 21%;
margin: -9.9% -3% 0% 0%;
padding: 1.2%;
font-weight: bold;
}
#userPanel div.panes input.share_cont:hover{
color: rgba(38, 185, 254, 1);
background-color: white; 
}
#userPanel div.panes textarea.stetarea{
resize: none;
height: 100px;
width: 100%;
float: left;
margin: 5% 0% 0% 0%;
} 
#userPanel div.panes textarea#qsmDescription{
margin: -1.5% 0% 0% 0%;
min-height: 200px;
} 
#userPanel div.panes div#option{
float: left;
margin: -7% 0% 0% 0%;
background-color: #eaeaea;
border: 1px solid silver;
width: 100%;
padding: 0% 0% 0% 1%;
}
#userPanel div.panes div#param{
float: left;
margin: -2% 0% 0% 0%;
height: 35px;
background-color: #D0D0D0;
border: 1px solid rgba(192, 192, 192, 0.65);
width: 100%;
padding: 0% 0% 0% 1%;
display: none;
}
#userPanel div.panes div#param .btn{
border: 1px solid silver;
padding: 0px 5px;
margin: 2px 1px;
float: right;
color: rgb(253, 253, 253);
background-color: rgba(117, 117, 117, 0.41);
font-size: 11px;
cursor: pointer;
}
#userPanel div.panes div#param .btn:hover{ 
background-color: red;
}
#userPanel div.panes div#param #confSet:hover{ 
background-color: rgba(21, 186, 16, 0.61);
} 
#userPanel div.panes div#param .blk{ 
  float: left;
width: 80%;
display: none;
}
#userPanel div.panes div#param .blk input{ 
float: left;
margin: 0% 0.5% 0.5% 0%;
font-size: 13px;
border: 1px solid silver;
padding: 0.7%;
} 
#userPanel div.panes div#param .blk input[type=number]{ 
width: 11%;
} 
#userPanel div.panes div#param .blk input[type=color]{ 
width: 10%;
padding: 0%;
border: 0px;
margin: 2px;
background-color: transparent;
cursor: pointer;
} 
#userPanel div.panes div#param .blk select{ 
width: 25%;
padding: 0.7%;
cursor: pointer;
} 
#userPanel div.panes div#option a{
padding: 1%;
font-size: 15px;
text-decoration: none;
border: 1px solid transparent;
}
#userPanel div.panes div#option a:hover{
background-color: rgba(181, 181, 181, 0.47)!important;
color: white;
border-left: 1px solid rgba(179, 179, 179, 0.66);
border-right: 1px solid rgba(255, 255, 255, 0.77);
} 
#realVueDes{
  border: 2px solid silver;
  float: left;
  min-height: 200px;
  width: 100%;
  background-color: white;
  margin-top:2%;
  padding: 1%;
  display: none;
}
.editmy{
  float: right;
  padding: 3px 1px;
  width: 30%;
  background-color: rgb(139, 138, 138);
  border-left: 1px solid rgb(166, 166, 166);
}
.editmy form input{
color: transparent!important;
font-size: 0px!important;
float: left;
position: absolute;
z-index: -2;
}
.editmy form button.action_delete{
margin: 0;
font-size: 11px;
background-color: transparent;
color: white;
padding: 2px !important; 
} 
.editmy form button.action_delete:hover,.eeditmy button.action_delete:hover{
background-color: rgba(239, 44, 44, 0.58)!important;
}
.editmy form button.action_delete i.ion{ 
font-size: 12px!important;
color: white!important;
}
.eeditmy{
  width:50%;
} 
.editmy a,.editmy button{
   border: 1px solid;
  float: left;
  width: 45%;
  padding: 1px!important;
}
.eeditmy select{
float: left;
width: 40%;
padding: 1px!important;
margin: 0px 2px;
font-size: 13px;
}
.eeditmy button{
border: 1px solid white;
float: left;
width: 25%;
padding: 1px!important;
font-size: 10px!important;
background-color: transparent;
color: white;
margin: 2px;
margin-top: 0px!important;
}
.eeditmy button:hover{
background-color: rgb(27, 181, 9);
}
.eeditmy button i{
padding: 1px!important;
font-size: 15px!important;
color: white!important;
}
.eeditmy a{
border: 1px solid white;
float: left;
width: 25%;
padding: 1px!important;
}
.txt textarea.col{
  float: none;
min-width: 90%;
max-width: 90%;
}
.morerss{
  float: left; 
height: 60px;
width: 100%;
padding: 1%;
}
.morerss .seemore{
 text-align: center;
float: left;
width: 100%;
padding: 1%;
margin-top: -1%;
border: 1px solid silver;
}
.logoMinDEF{
  float: left;
  max-height: 25px;
}
.listCtaegUser{
float: left;
width: 100%;
padding: 1%;
}
.flagx1{
min-width: 20px;
max-width: 20px;
margin: 5px;
margin-top: 2px;
}


.btnonline{ 
text-shadow: 0 1px 0 #fff;
cursor: pointer;
font-weight: bold;
color: #757575;
width: 150px;
font-size: 11px;
margin: 5px 2px!important;
border-radius: 0px;
background-color: rgb(248, 248, 248);
}
.labbtnonline {position:relative}
.labbtnonline:after {
    content:'<>';
    font:11px "Consolas", monospace;
    color:#aaa;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
    transform:rotate(90deg);
    right:8px; top:9px;
    padding:0 0 2px;
    border-bottom:1px solid #ddd;
    position:absolute;
    pointer-events:none;
}
.labbtnonline:before {
    content:'';
    right:6px; top:9px;
    width:20px; height:20px;
    background:#f8f8f8;
    position:absolute;
    pointer-events:none;
    display:block;
}
.cont_msg{ 
  background-color: white;
  padding: 2%;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  -webkit-border-radius: 3px;
  font-family: Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
  width: 60%;
  min-height: 500px;
  float: left;
  position: fixed;
  bottom: 0;
  left: 20%;
  top: 20px;
}
.cont_msg .ListUmsg{ 
  float: left;
  min-width: 20%;
  max-width: 20%;
  height: 100%;
  border: 0px solid;
  border-left: 1px solid #eaeaea;
  overflow-x: hidden;
  padding: 0% 2% 0% 0%;
}
.cont_msg .ListUmsg a{ 
  border: 0px solid;
  float: left;
  padding: 1%;
  margin: 1% 5%;
  width: 100%;
  min-height: 100px;
  max-height: 100px;
  opacity: 0.4;
  border: 2px solid transparent;
}
.cont_msg .ListUmsg span{
  float: left;
}
.cont_msg .ListUmsg span[data-badge]:after{
  content: attr(data-badge);
  position: absolute;
  font-size: .6em;
  background: rgb(216, 14, 14);
  border: 2px solid rgb(182, 23, 23);
  color: white;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 15px;
  border-radius: 50%;
  box-shadow: 0 0 1px #333;
  text-shadow: 0 1px 0 #0B0B0B;
  margin-left: 1%;
  z-index: 9;
}
.cont_msg .ListUmsg a.active{ 
  opacity: 1;
  border: 2px solid silver;
}
.cont_msg .ListUmsg a img{ 
  border: 1px solid silver;
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 100px;
  float: left;
}
.cont_msg .ListUmsg a b{ 
   float: left;
  margin-top: -25px;
  background-color: rgba(255, 255, 255, 0.77);
  padding: 2px;
  min-width: 100%;
  max-width: 100%;
}
.cont_msg .ListUmsg a p{ 
   
}
.cont_msg .ListUmsg a:hover{ 
   color: #757575;
   opacity: 0.6;
   cursor: pointer;
   border: 2px solid #eaeaea;
}
.cont_msg .msgContent{ 
  float: left;
  min-width: 80%;
  max-width: 80%;
  min-height: 500px;
}
#PMsg{
  float: left;
  width: 46.8%;
  margin-left: -2%;
  border: 1px solid rgb(223, 223, 223);
  position: fixed;
  bottom: 0;
  padding: 1%;
  background-color: #F2F2F2;
  border-top-color: #D5D5D5;
  height: 160px;
}
#PMsg textarea{
  float: left;
  width: 100%;
  min-height: 100px;
  max-height: 100px;
  padding: 1%;
  
}
#PMsg .optionPan {
  border: 0px solid;
  float: left;
  width: 100%;
  background-color: rgb(242, 242, 242);
  padding: 1%;
}
#PMsg .optionPan input[type=submit]{
  border: 1px solid #BDBDBD;
  float: right;
  text-shadow: 0 1px 0 #fff;
  cursor: pointer;
  font-weight: bold;
  color: #757575;
  width: 150px;
  font-size: 12px;
  margin: 5px 2px!important;
  border-radius: 0px;
  background-color: rgb(248, 248, 248);
  padding: 1%;
}
.msgContent #DescChat{
  overflow-y: scroll;
  height: 500px;
}
#DescChat #moremsg{
  border: 1px solid #C0C0C0;
  text-align: center;
  width: 100%;
  float: left;
  padding: 2% 0%;
  margin: 2% 0%;
  margin-top: -5%;
  background-color: #eaeaea;
}
#DescChat #moremsg:hover{
  border: 1px solid #757575;
  color: #757575;
  cursor: pointer;
  background-color: #DDDDDD;
}
.listNotif{
  border: 0px solid;
  float: left;
  width: 80%;
  border-right: 1px solid #eaeaea;
  overflow-x: hidden;
  height: 650px;
}
.listNotif a.OneNotif{
  border: 1px solid silver;
  float: left;
  width: 99%;
  margin: 1% 0%;
  padding: 1%;
  height: 50px;
}
.listNotif a.OneNotif:hover{
  background-color: rgba(234, 234, 234, 0.7);
  color: #757575;
}
.listNotif a.active{
  background-color: #eaeaea;
} 
.listNotif a.OneNotif img{
  float: left;
  min-width: 30px;
  max-width: 30px;
  min-height: 30px;
  max-height: 30px;
  border: 1px solid silver;
  padding: 1px;
}
.listNotif a.OneNotif i.ion{
  float: left;
  border: 1px solid transparent;
  color: white;
  text-shadow: 0px 1px 3px #4C4C4C;
  font-size: 20px;
  position: relative;
  top: 15px;
  left: -2%;
}
.listNotif a.OneNotif p{
float: left;
  font-size: 12px;
  border: 1px solid transparent;
  width: 71%;
  padding: 0%;
}
.listNotif a.OneNotif span{
  float: right;
  color: silver;
  font-size: 9px;
  border: 1px solid transparent;
}

.PubNotif{ 
  float: left;
  width: 20%;
}
